button {
	background: transparent;
	background-color: transparent;

	border: none;
}
button:focus {
	outline: none;
	border: none;
}
button:active {
	outline: none;
	border: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none; /* Disables iOS callout when holding tap */
	-webkit-tap-highlight-color: transparent; /* Removes tap highlight on mobile */
}

::-webkit-scrollbar {
	display: none;
}
